<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="static/logo.png">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap-v4.0.0-beta.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/font-monospaced/fonts/font-monospaced.min.css">
  </head>
  <body>
    <div id="app">
    	<div class="text-center text-muted mt-4"> Loading ... </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
